<%-include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <%-include('includes/navigation.ejs')%>
    <main class="main__container">
      <form class="product__form" action="/admin/add-products" method="POST">
        <div class="form__control">
          <label for="title">Title</label>
          <input type="text" name="title" placeholder="Enter products" id="title"/>
        </div>

        <button class="main__button" type="submit">Add</button>
      </form>
    </main>
<%-include('includes/end.ejs') %>
