<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page status 404</title>
    <style>
      body {
        height: 100vh;
        background: linear-gradient();
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      h1 {
        font-weight: 900;
        font-size: 80px;
        font-style: italic;
      }
    </style>
  </head>
  <body>
    <h1>Status 404 : Page not found</h1>
  </body>
</html>
