.main__container {
  height: 92%;
  width: 100%;
}
.product__form {
  width: 100%;
  height: 100%;
  background-color: rgb(214, 250, 239);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  font-size: 1.2rem;
}
.form__control label,
.form__control input {
  display: block;
}
.form__control input {
  background-color: rgb(215, 255, 237);
  padding: 15px;
  font-size: 1.5rem;
  border: 2px solid rgb(156, 108, 17);
  color: brown;
  border-radius: 10px;
}
.product__form button {
  background-color: brown;
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}
.product__form button:active,
.product__form button:hover {
  background-color: rgb(61, 6, 113);
  color: white;
}
