.main__container {
  height: 92%;
  width: 100%;
}
.product__form {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  font-size: 1.2rem;
}
.form__control label,
.form__control input,
.form__control textarea {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
}
.form__control input,
.form__control textarea {
  background-color: rgb(215, 255, 237);
  padding: 15px;
  font-size: 1.5rem;
  border: 2px solid rgb(156, 108, 17);
  color: brown;
  border-radius: 10px;
}
.form__control input:focus,
.form__control textarea:focus{
  outline-color: #00695c ;
}
.product__form button {
  background-color: brown; 
  color: white;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 5px;
  cursor: pointer;
}
.product__form button:active,
.product__form button:hover {
  background-color: rgb(61, 6, 113);
  color: white;
}
