.main__container {
  height: 92%;
  width: 100%;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10%;
}
.main__heading {
  font-size: 2rem;
  color: red;
}
.main__paragraph {
  font-size: 1.5rem;
  color: blue;
}
